nav {
    background-color: #fafafa;
    padding-top: 11px;
    padding-bottom: 11px;
    -webkit-box-shadow: 0 5px 6px 0px #ccc;
    -moz-box-shadow: 0 5px 6px 0px #ccc;
    box-shadow: 0 5px 6px 0px #ccc;
}
body nav .logo {
    max-height: 50px;
}

h1 {
    font-size: 1.8em;
    font-weight: 400;
    margin-top: 28px;
    line-height: 1.4;
}
h1 span {
    color: red;
    font-weight: 600;
}
h2 {
    font-size: 1.1em;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.7;
}
.warning {
    color: red;
    font-size: 1.1em;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.7;
}
.warning {
    color: red;
    font-size: 1.7em;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.7;
}
.green {
    color: #2fbdaa;
}
.lg-call-button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-color: #ff7600;
    padding: 20px 36px;
    border-radius: 500px;
    border: 1px solid #fff;
    position: relative;
    font-size: 29px;
    white-space: nowrap;
    transition: all 0.1s ease-in-out;
}

.lg-call-button, .lg-call-button:hover, .lg-call-button:focus {
    outline: 0 !important;
    background-color: #ff7600 !important;
    color: #fff !important;
    text-decoration: none !important;
    font-weight: 800;
}

.circle-progress-value {
	stroke-width: 10px;
	stroke: #1ABAE7;
	stroke-dasharray: 8% 2%;
}
.circle-progress-circle {
	stroke-width: 10px;
	stroke: #EEE;
}
.circle-progress-text {
	font-weight: bold;
	fill: #1ABae7;
}
.submit-progress {
    position: relative;
    width: 300px;
}
.circle-progress {
    display: block;
    width: inherit;
    height: auto;
}
.submit-text {
    font-size: 1.3em;
    margin-top: 1rem;
    transition: .5s ease all;
}
